BanqueRest/build/*
Net_ArticlesRest/build/*
/BanqueRest/nbproject/private/*
/Net_ArticlesRest/nbproject/private/*
/Net_ArticlesWeb/nbproject/private/*
/Net_ArticlesRest/build/*
/Net_ArticlesWeb/build/*